# dependencies
/Frontend_React/node_modules
/Frontend_React/.pnp
/Frontend_React.pnp.js

# testing
/Frontend_React/coverage

# production
/Frontend_React/build

# misc
/Frontend_React.DS_Store
/Frontend_React.env.local
/Frontend_React.env.development.local
/Frontend_React.env.test.local
/Frontend_React.env.production.local
/Frontend_React/.env

/frontendnpm-debug.log*
/frontendyarn-debug.log*
/frontendyarn-error.log*

# dependencies
/Backend_Node/node_modules

# production
/Backend_Node/build

#env
/Backend_Node/.env